/* -------------------- COLOR PALETTE ----------------------- */
/* 
    https://coolors.co/502050-ee686e-937b92-f7f2f7-ffffff

                    #502050 Palatinate Purple 
                    #EE686E Candy Pink 
                    #937B92 Mountbatten Pink 
                    #F7F2F7 Magnolia
                    #FFFFFF White
*/

/* ----------------------- GLOBAL --------------------------- */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 13px;
    font-family: 'Spartan', sans-serif;
    background-color: #FFFFFF;
    background-image: url(../images/bg-pattern-bottom-desktop.svg), url(../images/bg-pattern-top-desktop.svg);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-position: top right, bottom left;
}

/* ----------------------- MAIN ----------------------------- */

main {
    width: 80%;
    margin: 100px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px 20px;
}
p {
    line-height: 1.7;
}

/* Title */
h1 {
    font-size: 45px;
    font-weight: 700;
    letter-spacing: -0.05em;
    color:  #502050;
}
h1 + p {
    font-size: 15px;
    color: #937B92;
    padding-top: 20px;
}
.title {
    flex: 1 1 450px;
    text-align: center;
}

/* Ratings */
dd {
    font-weight: 700;
    color: #502050;
    padding-top: 2px;
    flex: 1 0 210px;
}
.ratings {
    flex: 1 1 600px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.rating-item {
    background-color: #F7F2F7;
    padding: 20px 30px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 15px 30px;
}
.star {
    padding: 0 2px;
}

/* Reviews */
section {
    min-height: 250px;
    margin-top: 0;
    flex: 1 0 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
article {
    background-color: #502050;
    padding: 30px;
    border-radius: 8px;
    flex: 1 1 250px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
h3 {
    font-weight: 700;
    color: #FFFFFF;
}
.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
}
.buyer-category {
    color: #EE686E;
    padding-top: 2px;
}
.review-comment {
    font-weight: 500;
    color: #F7F2F7;
    flex: 1 0 100%;
}

/* ----------------------- FOOTER --------------------------- */

footer {
    font-size: 11px;
    text-align: center;
    margin: 40px 0 10px;
}
footer a {
    color: #3E52A3;
}
footer a:hover {
    text-decoration: none;
}

/* ------------------- MEDIA QUERIES ------------------------ */
@media screen and (min-width: 600px){
    /* Title */
    .title {
        text-align: left;
    }

    /* Ratings */
    .rating-item {
        justify-content: left;
        text-align: left;

    }
}
@media screen and (min-width: 1400px) {
    /* Title */
    .title {
        flex: 0 1 450px;
    }

    /* Ratings */
    .ratings {
        flex: 0 1 600px;
    }
    .rating-item {
        min-width: 500px;
    }
    .rating-item:first-of-type {
        align-self: flex-start;
    }
    .rating-item:nth-of-type(2) {
        align-self: center;
    }
    .rating-item:last-of-type {
        align-self: flex-end;
    }

    /* Reviews */
    section {
        margin-top: 50px;
    }
    article:first-of-type {
        align-self: flex-start;
    }
    article:nth-of-type(2) {
        align-self: center;
    }
    article:last-of-type {
        align-self: flex-end;
    }
}
